.home-container {
    background-color: var(--bg-home); 
    transition: background-color 0.3s ease;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 80px 20px;
    font-family: 'Quicksand', sans-serif;
}

.home-content {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.hero-title {
    color: var(--text-hero);
    font-size: 59px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

.hero-subtitle {
    color: var(--text-sub);
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.toggle-area {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.btn-how-it-works {
    background-color: var(--how-buton); 
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.how-it-works-box {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #83ad6c;
    border-radius: 15px;
    background-color: #f9f9f9;
    color: #2b0b3c;
    max-width: 600px;
    text-align: center;
    animation: slideDown 0.3s ease-out; 
}

.cards-section {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    justify-content: center;
}

.feature-card {
    flex: 1;
    max-width: 320px;
    padding: 40px 20px;
    border-radius: 35px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.light-mint {
    background-color: var(--card-light);
    color: var(--card-text-dark);
}

.moss-green {
    background-color: var(--card-moss);
    color: white;
}

.card-icon { 
    font-size: 45px; 
    margin-bottom: 20px;
    display: block;
    color: inherit; 
}
.card-info h3 { font-weight: 800; margin-bottom: 10px; }

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}