.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 8%;
    position: absolute;
    top: 0; left: 0; width: 100%;
    z-index: 100;
    background: transparent;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: var(--navbar-logo);
    letter-spacing: -0.5px;
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.theme-toggle-btn {
    background: rgba(116, 54, 150, 0);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: var(--theme-btn-color);
    transition: color 0.3s ease;
    
}

.theme-toggle-btn:hover {
    background: rgba(117, 54, 150, 0.05);
}

.btn-login:hover {
    color: var(--primary);
    background: rgba(117, 54, 150, 0.05);
}

.btn-register:hover {
    background: var(--primary-hover);
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(117, 54, 150, 0.4);
}

.auth-buttons {
    display: flex;
    gap: 16px;
}

.btn-login {
    color: var(--text-sub);
    background: transparent;
    border: none;
    padding: 10px 24px;
    font-weight: 600;
    border-radius: 50rem;
    cursor: pointer;
}

.btn-register {
    background: var(--reg-buton);
    color: white;
    padding: 10px 28px;
    border-radius: 50rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(117, 54, 150, 0.2);
}